/* !Created root variables for cleaner CSS */
:root {
  --background-color: #d9dcd6; 
  --blue-1: #2a607c;
  --blue-2: #2589bd;
  --blue-3: #0072bb;
  --background-gradient: linear-gradient(90deg, #0072bb 0%, #0072bb 10%, #2589bd 100%);
  --background-gradient-reverse: linear-gradient(-90deg, #0072bb 0%, #0072bb 10%, #2589bd 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
}

.header  {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--blue-1);
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/* made a class for the nav */
.header .nav--header {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.header .nav--header ul {
    list-style-type: none;
}
.header .nav--header ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: -200px;
  box-shadow: 0 5px 5px 0 grey;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.content {
  width: 75%;
  display: inline-block;
}
.content div {
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 25px;

  background-image: var(--background-gradient);
  color: #ffffff;

  display: grid;
  grid-template-columns: 35% 25px 1fr;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  box-shadow: -10px 10px 15px 0 grey;
  border-radius: 4px;
}
.content img {
  min-height: 300px;
  max-width: 100%;
  align-self: center;
  justify-self: center;
  grid-column: 1;
  grid-row: 1 / span 2;
  filter: blur(0.5px);
}
.content h2 { 
  width: fit-content;
  justify-self: flex-start;
  position: relative;
  margin: 25px 0;
  grid-column: 3;
  grid-row: 1;
  margin-bottom: 20px;
  font-size: 2vw;
}
.content h2::after {
  content: "";
  width: calc(100% + 15px);
  height: 4px;

  background-color: white;
  border-radius: 100px;

  position: absolute;
  bottom: -8px; right: -15px;
}
.content p {
  width: 75%;
  grid-column: 3;
  grid-row: 2;
  justify-self: flex-start;
  font-size: 0.9vw;
  line-height: 1.75vw;
}

.benefits {
  align-self: flex-start;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 950px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--blue-2);
  text-align: center;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  box-shadow: -10px 10 15px 0 grey;
}
.benefits h3 { font-size: 1.75vw; }
.benefits img { margin: 0 auto; display: block; max-width: 150px; }
.benefits p { font-size: 1vw; }
.benefits div { overflow: hidden; color: #ffffff; margin: auto 0 auto 0; }


.online-reputation-management { background-image: var(--background-gradient-reverse) !important; grid-template-columns: calc(65% - 25px) 25px 35% !important; }
.online-reputation-management img { margin: 0; grid-column: 3; }
.online-reputation-management h2, .online-reputation-management p { justify-self: flex-end; text-align: right; grid-column: 1; }
.online-reputation-management h2::after { right: 0; }

.footer {
  padding: 30px;
  margin-top: 50px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: var(--background-color);
  filter: brightness(0.95);
}
.footer h2 { font-size: 20px; }
