/* !Created root variables for cleaner CSS */
:root {
  --white-1: #d9dcd6;
  --white-2: #bcbfba;
  --blue-1: #2a607c;
  --blue-2: #3c83a7;
  --blue-3: #2589bd;
  --blue-4: #0072bb;
  --background-gradient: linear-gradient(90deg, #2a607c 0%, #2a607c 10%, #3c83a7 100%);
  --background-gradient-reverse: linear-gradient(-90deg, #2a607c 0%, #2a607c 10%, #3c83a7 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--white-1);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a { color: var(--white-1); text-decoration: none; }

.header  {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--blue-1);
  color: #ffffff;
}
.header h1 {
    display: inline-block;
    font-size: 48px;
}
.header img {
  max-width: 55px;
  transform: scale(1.4);
  margin-left: 10px;
  filter: invert(1) brightness(0.85);
}
.header img { cursor: pointer; }
.header h1 .seo, .hero h1 .seo { color: #bcbfba; }

/* made a class for the nav */
.header .nav--header {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.header .nav--header ul {
    list-style-type: none;
}
.header .nav--header ul li {
  display: inline-block;
  margin-left: 25px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;

  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: -200px;
  box-shadow: 0 5px 5px 0 grey;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#backdrop-blur--hero {
  z-index: 1;
  width: 100%; height: 100%;
  position: absolute;
  top: 0; left: 0;
  backdrop-filter: blur(4px);
  filter: brightness(0.6)
}

.hero h1 {
  z-index: 2;
  height: fit-content;
  padding: 0 100px;
  color: var(--white-1);
  font-size: 15vw;
  backdrop-filter: blur(8px);
}
.hero h1 .seo { position: relative; }
.hero h1 .seo::after {
  content: "";
  width: 100%;
  height: 20px;

  background-color: var(--blue-1);

  position: absolute;
  bottom: 10px; left: 50px;
}

.content--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.content {
  width: 75%;
  display: inline-block;
}
.content div {
  height: 300px;
  margin-bottom: 25px;

  background-image: var(--background-gradient);
  color: var(--white-1);

  display: grid;
  grid-template-columns: 35% 25px 1fr;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  box-shadow: -10px 10px 15px 0 grey;
  border-radius: 4px;
}
.content img {
  min-height: 300px;
  max-width: 100%;
  align-self: center;
  justify-self: center;
  grid-column: 1;
  grid-row: 1 / span 2;
  filter: blur(0.5px);
}
.content h2 { 
  width: fit-content;
  justify-self: flex-start;
  position: relative;
  margin: 25px 0;
  grid-column: 3;
  grid-row: 1;
  margin-bottom: 20px;
  font-size: 2vw;
}
.content h2::after {
  content: "";
  width: calc(100% + 15px);
  height: 4px;

  background-color: var(--white-1);
  border-radius: 100px;

  position: absolute;
  bottom: -8px; right: -15px;
}
.content p {
  width: 75%;
  grid-column: 3;
  grid-row: 2;
  justify-self: flex-start;
  font-size: 0.9vw;
  line-height: 2vw;
  font-weight: lighter;
}

.benefits {
  align-self: flex-start;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 950px;
  background-color: var(--blue-2);
  text-align: center;
  border-radius: 4px;
  color: var(--white-1);

  display: flex;
  flex-direction: column;
  box-shadow: -10px 10 15px 0 grey;
}
.benefits h3 { font-size: 1.75vw; }
.benefits img { margin: 0 auto; display: block; max-width: 150px; }
.benefits p { font-size: 0.85vw; font-weight: lighter;line-height: 1.5vw; }
.benefits div { overflow: hidden; color: #ffffff; margin: auto 0 auto 0; }


.online-reputation-management { background-image: var(--background-gradient-reverse) !important; grid-template-columns: calc(65% - 25px) 25px 35% !important; }
.online-reputation-management img { margin: 0; grid-column: 3; }
.online-reputation-management h2, .online-reputation-management p { justify-self: flex-end; text-align: right; grid-column: 1; }
.online-reputation-management h2::after { right: 0; }

.footer {
  padding: 30px;
  margin-top: 50px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: var(--white-1);
  filter: brightness(0.95);
}
.footer h2 { font-size: 20px; }
